.page{
     display: flex;
     flex-direction: column;
     row-gap: 30px;

     min-height: 100%;
     position: relative;
     z-index: 2;
     padding: 20px 30px;
 }
.page button{
    width: fit-content;
}